div(class="flex-self-stretch bg-gray-dark col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6")
        img(class="circle mb-3" src="https://gravatar.com/avatar/9f2fa89587ad212290259b1227b54f15?size=200" style="max-width: 150px;")
        h1(class="text-white mb-2 lh-condensed") Joshua Ghali
        p(class="mb-3 f4 text-white")

        div( class="f4 mb-6")
            for l in public.sociallinks._data
                div(class="d-flex flex-items-center mb-3")
                    i(class="fab  #{ l.icon } mr-2 v-align-middle" style="color:white;")
                    a(class="text-white" href="#{ l.link } ")= l.title                         
                    
            div(class="d-flex flex-items-center mb-3 text-white")
                svg(aria-label="Location" class="octicon octicon-location mr-2 v-align-middle" fill="#ffffff" height="20" role="img" version="1.1" viewbox="0 0 12 16" width="15")
                    path(d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z" fill-rule="evenodd")
                !='Montreal, QC'
                    
