doctype
html
  head
    title Joshua Ghali - Portofolio

    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")
    meta(content="Joshua Ghali - Portofolio" property="og:title")
    meta(content="Joshua Ghali - Portofolio" property="og:site_name")
    meta(content="website" property="og:type")
    meta(content="https://joshuaghali.com" property="og:url")
    meta(content="https://gravatar.com/avatar/9f2fa89587ad212290259b1227b54f15?size=200" property="og:image")
    meta(content="My name is Josh and I am a Node.js developer with skills in DevOps. I am also a student in Software Engineering at École de technologie supérieure in Montréal. Here you will find some of the projects I worked or currently working on." property="og:description")
    
    meta(content="summary" name="twitter:card")
    meta(content="Joshua Ghali - Portofolio" name="twitter:title")
    meta(content="My name is Josh and I am a Node.js developer with skills in DevOps. I am also a student in Software Engineering at École de technologie supérieure in Montréal. Here you will find some of the projects I worked or currently working on." name="twitter:description")
    meta(content="https://gravatar.com/avatar/9f2fa89587ad212290259b1227b54f15?size=200" name="twitter:image")
    meta(content="@jjghali" name="twitter:site")
    meta(content="@jjghali" name="twitter:creator")
    
    link(href='resources/stylesheets/style.css' rel='stylesheet')
    link(href='resources/stylesheets/all.css' rel='stylesheet')
    link(href='resources/stylesheets/gitrepos.css' rel='stylesheet')
    link(href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" rel="stylesheet")
    link(crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet")
    
    script(src="resources/javascripts/jquery-3.4.1.min.js")
    script(src="resources/javascripts/projects.js")
    script(src="resources/javascripts/profile.js")
  body
    != yield