div(class="d-md-flex")
    != partial("sociallinks/sociallinks")
    div(class="mx-auto col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" style="background-color: #2f363d !important")
        div(class="mx-auto" style="max-width: 900px;")
            != partial("description/description")
            != partial("projects/projects")
            != partial("skills/skills")