h2(class="text-white")="My Interests"
p(class="f4 mb-4 text-white")="Topics that I want to learn more about."
div(class="d-flex flex-wrap gutter-condensed mb-4")
    for skill in public.skills._data
        div(class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3")
            div(class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5")
                i(class="#{ skill.icon } colored icon" height="64" width="64")
                p(class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1")=skill.name